<?xml version="1.0"?>
<!--
/**
 * @author Subrata Bauri
 * @copyright Copyright (c) 2018 Subrata Bauri
 * @package Mymodule_Bestsellers
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mymodule\Bestsellers\Api\BestSellerProductRepositoryInterface"
                type="Mymodule\Bestsellers\Model\BestSellerProductRepository" />
</config>
